body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    text-align: center;
    background-color: rgb(3, 255, 79);
    color: rgb(0, 0, 0);
    padding: 20px;
}
.containe{
    margin: auto;
    padding: 20px;
}
 h1{
    font-size: 24px;
    margin-bottom: 20px;
}
h2 {
    font-size: 18px;
}
p {
    font-size: 16px;
    line-height: 1.4;
}