.Nome{
    text-align: center;
}
.Endereço{
    text-align: center;
}
.Endereço2{
    text-align: center;
}
.telefone{
    text-align: center;
}
.email{
    text-align: center;
}
.detalhes{
    text-align: center;
}
.obs{
    text-align: left;
}
.obs2{
    text-align: left;
}
.fa{
    text-align: left;
}
li{
    text-align: left;
}
h3{
    text-align: left;
}
.hc{
    text-align: left;
}
