body{
    background-color: rgb(233, 221, 247);
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}
h1:hover{
    color: blueviolet;
}

.container{
    border: 2px solid rgb(72, 0, 139);
    max-width: 300px;
    -webkit-text-stroke: 1px;
    
    
}
.container2{

    border: 2px solid black;
    text-align:justify;
    max-width: 650px;
    margin: auto;
    font-size: 15px;
    line-height: 2;
    max-height: max-content;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 800px;
    background-color: purple;
    color: white;
    
    
    
    
}

.container3{
    text-align: center;
}
h2{
    text-align: center;
}
.container:hover{

   color: blueviolet;
}

img{
    max-width: 10%;
   
}
.container2:hover{

    color:cyan;
}