*{
    margin: 0;
    padding: 0;
}
body{

    background-color: rgb(255, 255, 255)


}

header{

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: darkslateblue;
    color: rgb(255, 255, 255);
}

h1{
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
h1:hover{

    color: aqua;
}





h2{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    font-size: 30px;
    
}
P{

    font-size: 15pt;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    text-align: justify;
    
    
    
    
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: justify;
    background-color: rgb(92, 89, 108);
    width:  55%;
    margin: auto;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    
   
   
    

}

.item{
    flex:1 1 350px;
    
    margin: 100px;
    text-align: justify;
    border-width: 1px;
    background-color: rgb(187, 177, 253);
    padding-bottom: 50px;
    
    
   
    
    
    
    

}


p{

    display: block;
    width: 100%;  
    color:  black; 
    
    
   
}




